name: go test
on:
  push:
    branches:
      - main
  pull_request: {}

permissions:
  contents: read
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          cache: false
          go-version-file: go.mod
      - run: go test ./... -bench=. -benchmem
      